body {
  background-color: white;
  color: lightskyblue !important;
}

.form-control {
  background-color: whitesmoke !important;
  color: lightskyblue !important;
}

table {
  color: lightskyblue !important;
}

// .with-chart {
//   padding: 1 !important;
// }

svg {
  overflow: visible !important;
}

.toggle-display {
  display: none;
}

.toggle-display.in {
  display: table-cell;
}

.hover-hand {
  cursor: pointer;
}