body {
  background-color: white;
  color: deepskyblue !important;
}

.form-control {
  background-color: whitesmoke !important;
  color: midnightblue !important;
}

table {
  color: midnightblue !important;
}

.list-group-item {
  color: midnightblue !important;
}

// .with-chart {
//   padding: 1 !important;
// }

svg {
  overflow: visible !important;
}

.toggle-display {
  display: none;
}

.toggle-display.in {
  display: table-cell;
}

.hover-hand {
  cursor: pointer;
}

.small-padding {
  padding: 3px !important;
}

.font-small {
  font-size: 0.8rem !important;
}

